.project-btn {
    height: 100px;
    /*margin: 24px 0;*/
}

#board-page-nav {
    background-color: #333;
}

#board-page-nav .navbar-brand {
    color: #fed136;
}

#new-board-modal {
    display: none;
    position: absolute;
    border: 1px solid black;
    padding: 12px;
    background: white;
    width: 90%;
}

#new-board-modal p:first-of-type {
    text-decoration: underline;
}
